# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
